
<div class="w3-container w3-black w3-padding-16">
  <div class="w3-row">
    <div class="w3-col" style="width:20%"><p></p></div>
    <div class="w3-col" style="width:60%">
  <h1 class="w3-center">
  <span >Welcome {{userDetails.fullName}}</span>
  
  </h1>
  </div> 
  <div class="w3-col" style="width:20%"><span class="w3-right-align" ><input type="button" (click)="onLogout()" value="Logout" /></span></div> 
  </div>  
</div>
<div class="w3-padding-16">
<div class="w3-col" style="width:2%"><p></p></div>
<div class="w3-col" style="width:57%"><table  class="w3-table w3-striped w3-bordered"  >
  <tr>
    <th>Project Name</th>
    <th>Data Center</th>
    <th>OS Type</th>
    <th></th>
  </tr>
  <tr *ngFor="let emp of employeeService.employees">
    <td>{{emp.projectname}}</td>
    <td>{{emp.datacenter}}</td>
    <td>{{emp.ostype}}</td>
    <!--a class="waves-effect waves-light btn" (click)="onEdit(emp)"><i class="material-icons left">edit</i>Edit</a>
    <a class="waves-effect waves-light btn" ><i class="material-icons left">delete</i>Delete</a-->
    <td><span style="padding-right: 8px;"><button class="w3-button w3-black" (click)="onEdit(emp)" >Edit</button></span>
        <button class="w3-button w3-black" (click)="onDelete(emp._id,employeeForm)">Delete</button></td>
  </tr>
</table></div>
<div class="w3-col" style="width:2%"><p></p></div>
<div class="w3-col" style="width:37%">  
    <!-- Success message -->
    <div class="success" *ngIf="showSucessMessage">
        Updated successfully
    </div>
  
  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>
  <div  *ngIf="showEditor">
    <div class="w3-container w3-black" >
        <div class="w3-row">
          <p>Editor</p>   
        </div>
    </div>          
    <form #requestForm="ngForm" (ngSubmit)="onSubmit(requestForm)">
    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
    <input type="hidden" name="email" #email="ngModel" [(ngModel)]="emailId">
    <!--input type="text" #email="ngModel" [(ngModel)]="employeeService.selectedEmployee.email" name="email" placeholder="email" required  [ngClass]="{'invalid-textbox' :requestForm.submitted && !email.valid }">
    <input type="text" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" name="name" placeholder="Name" required  [ngClass]="{'invalid-textbox' :requestForm.submitted && !name.valid }"-->
    <p><label>Project Name:</label></p>
    <input style="width:100%" type="text" #projectname="ngModel" [(ngModel)]="employeeService.selectedEmployee.projectname" name="projectname" placeholder="Project Name" required [ngClass]="{'invalid-textbox' :requestForm.submitted && !projectname.valid }">
    <p><label>Data Center:</label></p>                
                <select class="w3-select "  #datacenter="ngModel" [(ngModel)]="employeeService.selectedEmployee.datacenter"  name="datacenter" placeholder="Datacenter" required [ngClass]="{'invalid-textbox' :requestForm.submitted && !datacenter.valid }">
                                <option value="" disabled selected>Choose a Datacenter</option>
                                <option value="India">India</option>
                                <option value="UK">UK</option>
                                <option value="USA">USA</option>
                              </select><br>
                <p><label>OS Type:</label></p>
                <select class="w3-select" #ostype="ngModel" [(ngModel)]="employeeService.selectedEmployee.ostype"  name="ostype" placeholder="OS Type" required [ngClass]="{'invalid-textbox' :requestForm.submitted && !ostype.valid }">
                                <option value="" disabled selected>Choose OS</option>
                                <option value="Windows">Windows</option>
                                <option value="Linux">Linux</option>                                
                              </select><br>
    <input class="w3-black" type="submit" value="Save">
    </form>
  </div> 
     
</div>
<div class="w3-col" style="width:2%"><p></p></div>



