
  
  <!-- Hero -->
  <div class="ds-bg-dark ds-padding-top-3">
    <div class="ds-full-width ds-flex ds-flex-nowrap ds-flex-align-items-center ds-padding-left-3 ds-padding-right-3" style="background-image: url('./assets/ArticleHero.jpg');background-position:center;background-size:cover;background-repeat:no-repeat; min-height: 500px">
      <div class="ds-row">
        <div class="ds-col-12">
          <h4 class="ds-heading-4">Lorem</h4>
          <h1 class="ds-heading-lg-1">Pharetra Ornare Commodo</h1>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.
            
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Body -->
  <!-- First section -->
  <div class="ds-row ds-margin-top-3">
    <!-- Author photograph and bio -->
    <div class="ds-col-xs-12 ds-col-lg-3 ds-align-text-center ds-margin-bottom-4">
      <img src="./assets/User01.png" alt="">
      <h3 class="ds-label">Lorem Dolor</h3>
      <div class="ds-text-small ds-padding-bottom-1 ds-padding-left-6 ds-padding-right-6">
        Etiam porta sem malesuada magna mollis euismod.
      </div>
      <div class="ds-tag">Nibh Mollis</div>
    </div>
    
    <!-- First column -->
    <div class="ds-col-xs-10 ds-offset-xs-1 ds-offset-lg-0 ds-col-lg-8">
      <h3 class="ds-heading-4">February 21, 2017</h3>
      <h1 class="ds-heading-2 ds-padding-bottom-1">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h1>
      <p class="ds-padding-bottom-1">Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam.
        Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus
        varius blandit sit amet non magna.
      </p>
      <p class="ds-padding-bottom-1">Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum
        id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque
        ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper.
      </p>
    </div>
  </div>
  
  <!-- Second Section -->
  <div class="ds-row">
    <!-- Block quote -->
    <div class="ds-col-xs-10 ds-offset-xs-1 ds-col-lg-7 ds-offset-lg-3">
      <div class="ds-blockquote ds-padding-top-2 ds-padding-bottom-2">
        <h2 class="ds-quote ds-padding-bottom-0">
          Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        </h2>
        <p class="ds-text-small">- Cursus Malesuada</p>
      </div>
    </div>
  </div>
  
  <!-- Landscape image -->
  <div class="ds-row">
    <div class="ds-col-xs-10 ds-offset-xs-1 ds-col-lg-7 ds-offset-lg-3 ds-padding-top-1">
      <img class="ds-img-force-grow" src="./assets/Landscape01.jpg" alt="">
      <p class="ds-label-small">Tortor Nibh Fringilla</p>
      <h2 class="ds-heading-2 ds-padding-top-3 ds-padding-bottom-3">Etiam porta sem malesuada magna mollis euismod.</h2>
      <p class="ds-padding-bottom-2">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Integer posuere
        erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean
        eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper.
      </p>
      
      <p class="ds-padding-bottom-4">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus
        ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum.
      </p>
    </div>
  </div>
  
  <!-- Dataset -->
  <div class="ds-row">
    <div class="ds-col-xs-10 ds-offset-xs-1 ds-col-lg-7 ds-offset-lg-3">
      <div class="ds-table-container ds-collapsable ds-padding-bottom-4">
        <table class="ds-table ds-striped ds-centered">
          <thead>
            <tr>
              <th>Tellus</th>
              <th>Ultricies</th>
              <th>Euismod</th>
              <th>Commodo</th>
              <th>Vestibulum</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
            </tr>
            <tr>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
            </tr>
            <tr>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
            </tr>
            <tr>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <!-- Landscape image 2 -->
  <div class="ds-row">
    <div class="ds-col-xs-10 ds-offset-xs-1 ds-col-lg-7 ds-offset-lg-3">
      <img class="ds-img-force-grow" src="./assets/Landscape02.jpg" alt="">
      <p class="ds-label-small">Ultricies Fringilla</p>
      <h2 class="ds-heading-2 ds-padding-top-3 ds-padding-bottom-3">Maecenas sed diam eget risus varius blandit sit amet non magna.</h2>
      <p class="ds-padding-bottom-2">Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce
        dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed
        diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis.
      </p>
      
      <p class="ds-padding-bottom-4">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur
        est at lobortis. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.
      </p>
    </div>
  </div>
  
  <!-- Response Form -->
  <div class="ds-row">
    <div class="ds-col-xs-10 ds-offset-xs-1 ds-col-lg-7 ds-offset-lg-3 ds-margin-bottom-4">
      <h3 class="ds-heading-3 ds-margin-bottom-2">Responses</h3>
      <div class="ds-input-container ds-margin-bottom-2">
        <label for="text" class="ds-input-label">Email</label>
        <input type="text" class="ds-input" id="text" placeholder="@us.ibm.com" />
      </div>
      
      <div class="ds-input-container ds-margin-bottom-2">
        <label for="textarea" class="ds-input-label">Comments</label>
        <textarea type="textarea" class="ds-input" id="textarea" placeholder="This article was great!"></textarea>
      </div>
      
      <button class="ds-button ds-primary">Submit</button>
    </div>
  </div>
  
  <!-- Panel at Bottom -->
  <div class="ds-row">
    <div class="ds-col-xs-10 ds-offset-xs-1 ds-col-lg-7 ds-offset-lg-3">
      <div class="ds-panel ds-panel-raised ds-margin-bottom-2">
        <div class="ds-panel-container">
          <div class="ds-flex ds-flex-align-items-center">
            <img src="./assets/User02.png" alt="">
            <div class="ds-padding-left-2">
              <p class="ds-label">EUISMOD IPSUM</p>
              <p>Condimentum Amet Tellus</p>
            </div>
          </div>
          
          <p class="ds-margin-top-2">Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
            
          </p>
        </div>
      </div>
      <button class="ds-button ds-flat ds-width-auto">See More Comments</button>
    </div>
  </div>
  
  <!-- Footer -->
  <div class="ds-bg-neutral-warm-2 ds-padding-top-3 ds-padding-bottom-2 ds-margin-top-2">
    <div class="ds-flex ds-flex-justify-center">
      <div class="ds-row">
        <div class="ds-col-md-4 ds-col-xs-12 ds-padding-left-2 ds-padding-right-4">
          <h2 class="ds-heading-4">List One</h2>
          <ul class="ds-list-unstyled">
            <li><a href="">Aliquam a porta</a></li>
            <li><a href="">Aliquam a porta</a></li>
            <li><a href="">Aliquam a porta</a></li>
            <li><a href="">Aliquam a porta</a></li>
          </ul>
        </div>
        <div class="ds-col-md-4 ds-col-xs-12 ds-padding-left-2 ds-padding-right-4">
          <h2 class="ds-heading-4">List One</h2>
          <ul class="ds-list-unstyled">
            <li><a href="">Aliquam a porta</a></li>
            <li><a href="">Aliquam a porta</a></li>
            <li><a href="">Aliquam a porta</a></li>
            <li><a href="">Aliquam a porta</a></li>
          </ul>
        </div>
        <div class="ds-col-md-4 ds-col-xs-12 ds-padding-left-2 ds-padding-right-4">
          <h2 class="ds-heading-4">List One</h2>
          <ul class="ds-list-unstyled">
            <li><a href="">Aliquam a porta</a></li>
            <li><a href="">Aliquam a porta</a></li>
            <li><a href="">Aliquam a porta</a></li>
            <li><a href="">Aliquam a porta</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>    


<script src="./vendor/w3ds.js"></script>

