<div class="w3-top w3-padding-bottom-1">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a class="w3-bar-item w3-button w3-wide" routerLink="/userprofile" routerlinkActive="active">Request Tool</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a class="w3-bar-item w3-button" routerLink="/about" routerlinkActive="active" >About</a>
        <a class="w3-bar-item w3-button" routerLink="/myrequests" routerlinkActive="active">My Requests</a>
                        
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
      
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
<div style="padding:60px 0px">

<router-outlet></router-outlet>
</div>